body {
    background-color: #f8f9fa;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}



.row {
    height: 90%;
    width: 100%;
}

/* .container-fluid {
    display: flex;
    height: 45vh;
    padding: 0;
    margin: 0;
} */

/* :root {
    --primary: hsla(0, 0%, 93%, 1);
    --secondary: hsla(234, 89%, 45%, 0.4);
} */
/* 
#hero-section {
    display: flex;
    position: absolute; 
    background-image: linear-gradient(90deg, var(--primary), var(--secondary)), url('images/inside-shop-placeholder.jpg');
    background-image: url('images/gas-station-hero-size.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 45vh;
    max-height: 80vh; 
    width: 100%;
} */
.top-number {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(46, 43, 43);
    font-family: 'Lilita One', sans-serif;
}

.top-number:hover {
    text-decoration: none;
    color: #1e1f46;
    text-shadow: 2 2 2 2;
    font-size: 2rem;
}

.masthead {
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.color-overlay h1 {
    position: relative;
    font-size: 5rem;
    top: 5%;
    left: 10%;
}

.map-container {
    width: 100%;
    position: absolute;
    height: 60vh;
    display: flex;
}

.map {
    width: 80%;
    max-width: 800px;
    height: 80%
}





.jumbotron {
    margin-top: 20px;
    background-image: url('images/petrol-station_s.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}


.espanol-btn {
    align-items: center;
}

#title-box {
    position: relative;
    /* background-color: #303841; */
    /* opacity: 80%; */
    top: 50px;
    left: 10%;
    width: 50%;
}

.title-column {
    position: relative;
    /* background-color: #303841; */
    /* opacity: 80%; */
    top: 50px;
    left: 10%;
    width: 50%;
}

#main-heading {
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 5.5rem;
    line-height: 1.2;
    color: #393E46;
    text-shadow: 2px 2px 5px #f4f1f2;
}

.carousel {
    margin: 0 auto;
    padding-top: 50px;
    width: 600px;
}

.carousel-inner {
    width: 600px;
    margin: 0 auto;
}

.carousel-item {
    height: 40vh;
}

.carousel-item img {
    margin: 0 auto;
    overflow: hidden;
    height: 300px;
    width: 600px;

}



/* .inner-border {
    border: 30px solid #303841;
    box-shadow: inset 0px 0px 0px 3px #EEEEEE;
    /* box-sizing: border-box;  Include padding and border in element's width and height  
} */

#inspection-plaque {
    text-align: center;
    background-color: gold;
    width: 100px;
    height: 150px;
    font-size: .7REM;
    line-height: 1.2;
    font-weight: bold;
    border: solid black 3px;
    border-radius: 3px;
    position: relative;
    margin: 0px auto;
}

#great-seal {
    width: 60px;
}



#map {
    position: relative;
    text-align: center;
    padding: 0;

}

/* color palette
#222831
#393E46
#00ADB5
#EEEEEE */

@media (max-width: 1190px) {
    .top-right-items {
        display: none;
    }
}

@media (max-width: 768px) {
    .masthead {
        min-height: 30vh;
    }

    .color-overlay h1 {
        font-size: calc(1.525rem + 3.3vw);
    }

    .carousel {
        width: calc(300px + 20vw);
    }

    .carousel-item img {
        margin: 0 auto;
        overflow: hidden;
        height: 100%;
        width: calc(300px + 20vw);

    }

    .carousel-inner {
        width: calc(300px + 20vw);
    }
}